@media screen and (max-width: 428px) {
  body {
    padding-left: 0px;
    padding-top: 32px;
  }
  body .container {
    padding-left: 32px;

    width: 428px;
  }
  main .container {
    width: 450px;
    overflow-x: hidden;
  }
  header .nav-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  header .nav-container-nav {
    display: none;
  }
  header .header-hamburger {
    font-size: 24px;
    display: inline;
    height: 22px;
    color: rgba(153, 153, 153, 1);
  }

  /* hero============================== */
  main .hero-section {
    margin-bottom: 40px;
  }
  main .hero-section-container {
    width: 425px;
    position: relative;
  }
  main .hero-section-article {
    z-index: 1;
  }

  main .hero-section-title {
    width: 280px;
    font-size: 48px;
    height: 30%;
  }
  main .hero-section-text {
    line-height: 30px;
    width: 230px;
    height: 150px;
  }
  main .graphic {
    position: absolute;
    z-index: -1;
    top: -50px;
    left: 440px;
    transform: translateX(-50%);
    height: 100%;
  }
  main .hero-section-btn {
    margin-bottom: 0;
  }
  /* upsel sec========================= */

  main .upsell-section-article {
    padding-top: 100px;
    padding-left: 60px;
    height: 102px;
    width: 380px;
  }
  .upsell-section-title {
    width: 360px;
    margin-bottom: 24px;
  }
  .upsell-section-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  /* ========press section====================== */
  main .icon-hidden {
    display: none;
  }
  body main .press-section-container {
    width: 440px;
    height: 190px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    gap: 5px;
  }
  main .press-logo {
    height: 40px;
    margin-bottom: 30px;
  }
  /* cards section======================== */

  main .showcase-article-container {
    width: 425px;
    height: 202px;
    margin-bottom: 0;
  }
  /* footer upsell======================== */
  main .footer-upsell-section {
    height: 700px;
  }
  main .footer-upsell-container {
    width: 428px;
    height: 700px;
    position: relative;
    overflow-x: hidden;
  }
  main .footer-upsell-section-article {
    z-index: 1;
  }
  main .upsell-footer-image {
    position: absolute;
    z-index: -1;
    top: 160px;
    left: 310px;
    transform: translateX(-50%);
    height: 100%;
  }
  /* footer========= */
  footer .footer-section {
    width: 428px;
  }
  footer .footer-container {
    /* overflow-x: hidden; */
    width: 428px;
    display: block;
  }
  footer .footer-container-left {
    margin-bottom: 60px;
  }

  footer .footer-container-right {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "about nft"
      "contact social";

    gap: 100px;
  }
  footer .footer-container-bottom {
    padding-bottom: 36px;
  }
  .footer-bottom-right {
    display: none;
  }
}
@media screen and (min-width: 760px) {
  body {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    margin: 0 auto;
  }
}
