@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import "reset.css";
@import "common.css";
@import "responsive-mobile.css";
/* ================================================= */
/* DESKTOP UZDUOTYJE 1440PX, MOBILE - 428PX */
/* ================================================ */

/* ====header================== */
.nav-container-nav {
  display: flex;
}
.header-hamburger {
  display: none;
}

.nav-container {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  margin-bottom: 182px;
}
.nav-container-nav a {
  color: rgba(85, 85, 85, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 28px;
}
.nav-container-nav span {
  color: rgba(255, 57, 152, 1);
}
